@model ItlaNetwork.Core.Application.ViewModels.Account.ChangePasswordViewModel

@* Mensaje de éxito *@
@if (TempData["PwdSuccess"] != null)
{
    <div class="alert alert-success">@TempData["PwdSuccess"]</div>
}

<form asp-action="ChangePassword" method="post" class="px-3 pb-3">
    @Html.AntiForgeryToken()

    <div class="input-group-icon mb-3">
        <i class="fa-solid fa-lock input-icon"></i>
        <input asp-for="CurrentPassword" type="password" class="form-control" placeholder=" " />
        <label asp-for="CurrentPassword">Contraseña Actual</label>
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="input-group-icon mb-3">
        <i class="fa-solid fa-lock input-icon"></i>
        <input asp-for="NewPassword" type="password" class="form-control" placeholder=" " />
        <label asp-for="NewPassword">Nueva Contraseña</label>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="input-group-icon mb-4">
        <i class="fa-solid fa-lock input-icon"></i>
        <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder=" " />
        <label asp-for="ConfirmNewPassword">Confirmar Contraseña</label>
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-gradient">
        <i class="fa fa-key"></i> Cambiar Contraseña
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
