@model ItlaNetwork.Core.Application.ViewModels.Account.ChangePasswordViewModel

@if (TempData["PwdSuccess"] != null)
{
    <div class="alert alert-success">@TempData["PwdSuccess"]</div>
}

<form asp-action="ChangePassword" method="post" class="px-3 pb-3">
    @Html.AntiForgeryToken()

    <div class="input-group mb-3">
        <span class="input-group-text">
            <i class="fa-solid fa-lock me-1"></i> Actual
        </span>
        <input asp-for="CurrentPassword" type="password" class="form-control" />
    </div>
    <span asp-validation-for="CurrentPassword" class="text-danger mb-3 d-block"></span>

    <div class="input-group mb-3">
        <span class="input-group-text">
            <i class="fa-solid fa-lock me-1"></i> Nueva
        </span>
        <input asp-for="NewPassword" type="password" class="form-control" />
    </div>
    <span asp-validation-for="NewPassword" class="text-danger mb-3 d-block"></span>

    <div class="input-group mb-4">
        <span class="input-group-text">
            <i class="fa-solid fa-lock me-1"></i> Confirmar
        </span>
        <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
    </div>
    <span asp-validation-for="ConfirmNewPassword" class="text-danger mb-3 d-block"></span>

    <button type="submit" class="btn btn-gradient">
        <i class="fa fa-key me-1"></i> Cambiar Contraseña
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
